<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/default.css">
    </head>
    <body>
        <div class="journal">
            <ul>
                <li class="item">
                    <span class="title">Lorem ipsum</span><span class="date">2017-01-30</span><button>edit</button>
                    <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam tristique purus ac eleifend. Curabitur et sem at mauris fermentum semper. Donec felis turpis, facilisis eu lacus ac, ullamcorper dignissim est. In a libero dolor. Vestibulum pellentesque nunc at nisi aliquet porta. Donec placerat elit sit amet blandit rhoncus. Praesent id eros tristique, molestie est quis, consectetur turpis. Nam eu consectetur ex, sit amet porta neque. Maecenas faucibus massa ac purus euismod ullamcorper. Phasellus nec finibus justo. Etiam leo ipsum, venenatis vel ipsum vel, molestie faucibus leo. Vivamus placerat ex ac felis viverra ultrices.</li> 
                <li class="item">
                    <span class="title">Aliquam non </span><span class="date">2017-01-30</span><button>edit</button>
                    <br>Aliquam non magna enim. Praesent sem mi, eleifend vel nisi at, fermentum fringilla eros. Duis scelerisque euismod placerat. Praesent feugiat consequat elit ac auctor. Vestibulum hendrerit nulla sed urna commodo porta. Sed scelerisque ligula in risus lacinia, ac sollicitudin nisi vulputate. Duis sed nibh non purus molestie iaculis in non diam. Duis quis pulvinar eros. Morbi at erat tellus. Nullam sollicitudin augue ut mauris dapibus accumsan vel ut augue. Nam elementum sed neque eget viverra. Ut viverra ex ac cursus hendrerit. Ut gravida dignissim leo nec scelerisque. In vitae nibh gravida, dictum justo eget, feugiat nunc. Vestibulum ac mauris diam. Aenean imperdiet nunc in est vulputate vehicula.</li> 
                <li class="item">
                    <span class="title">Aenean dapibus </span><span class="date">2017-01-30</span><button>edit</button>
                    <br>Aenean dapibus mauris eu leo tristique, sit amet dignissim ex mattis. Ut feugiat laoreet velit, in consequat libero hendrerit ut. Quisque sit amet massa est. Donec nibh risus, facilisis a erat vel, rhoncus varius elit. Vivamus dignissim nisi placerat quam volutpat pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam metus leo, maximus eu felis molestie, commodo semper leo.</li> 
                <li class="item">
                    <span class="title">Quisque lectus </span><span class="date">2017-01-30</span><button>edit</button>
                    <br>Quisque lectus neque, pulvinar id est scelerisque, tincidunt condimentum mi. Sed gravida ante et augue iaculis, nec aliquam dui porta. Donec sapien eros, tincidunt a risus id, feugiat aliquet libero. Quisque imperdiet in sapien at sollicitudin. Quisque pharetra in turpis nec laoreet. Quisque vitae sodales neque. Aliquam sit amet dignissim mauris. Ut quis volutpat orci. Quisque a velit ac urna commodo pellentesque. Nulla posuere justo at fermentum consectetur. Aenean lobortis mi ac nisl ultricies, vitae tempor ipsum accumsan. Maecenas et felis eget turpis vestibulum laoreet. Donec pellentesque justo quis eleifend mollis. Mauris ultricies turpis sed porta iaculis. Morbi vitae dapibus purus, a fringilla tortor. Praesent in libero libero.</li> 
                <li class="item">
                    <span class="title">Duis posuere</span><span class="date">2017-01-30</span><button>edit</button>
                    <br>Duis posuere convallis tincidunt. Nullam nec libero et dolor sollicitudin consectetur. Nullam posuere semper vulputate. Nulla ac lacus ipsum. Etiam ac mattis arcu. Curabitur varius consectetur elit, ac vulputate nulla venenatis vel. Curabitur ipsum est, imperdiet eget ultrices ac, pellentesque et erat.</li> 
            </ul>
        </div>
    </body>
</html>